[user]
	name = Andras Acs
	email = andras.acs@bitrise.io
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	# Be able to abort all diffs with `:cq` or `:cquit`
	trustExitCode = true
[alias]
	d = difftool
[pull]
	rebase = false
